# This is Git's per-user configuration file.
[user]
	name = Timour Ezeev
	email = Timour.Ezeev@me.com
[pull]
	rebase = true
	ff = only
[init]
	defaultBranch = main
[alias]
	ci = commit
	co = checkout
	lg = log --graph --abbrev-commit --decorate --date=relative --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr)%C(reset) %C(bold blue)<%an>%C(reset)'
